body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(#e66465, #9198e5);
}

footer {
    padding: 20px;
    background-color: #2c2c2c;
}

footer a.validator{
    margin-right: 25px;
}

ul.nav li {
    list-style: none;
}

ul.nav li>a {
    background: #562e8d;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
    min-width: 200px;
    text-decoration: none;
    border-radius: 5px;
}

.upper{
    text-transform: uppercase;
}

h2.title{
    margin-bottom:0;
    border-top: 5px solid rgb(217, 55, 49);
    padding-top: 5px;
    text-transform: uppercase;
}

main#content {
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 500px);
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

/* profile styles */
.profile-wrap .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.profile-wrap .profile {
    width: 200px;
    border-radius: 50%;
    height: 200px;
    object-fit: cover;
    box-shadow: 0px 0px 5px 3px rgb(0, 0, 0);
}

.profile-imgs {
    height: 330px;
}

.profile-img-wrap {
    z-index: 2;
    position: relative;
    top: 75px;
    left: 50px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.subtitle{
    color: rgb(68, 68, 68);
}

/* aboutme specific styles */
.mode-img {
    max-width: 500px;
    height: 250px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid white;
}

.movies-list a {
    background-color: #562e8d;
    padding: 3px;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
}

ul.pref, ol.pref {
    list-style: none;
    text-align: center;
    padding: 0;
}

ul.pref li, ol.pref li{
    margin-top: 10px;
    background-color: rgb(27, 27, 27);
    color: white;
    display: flex;
    padding: 5px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.go-back{
    padding: 10px;
    background-color: red;
    color:white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 50px;
}